<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div id="instructions">
    <header>
        <img src="/images/photo.jpg" width="400" height="300" style="float:right"/>
        <h1>Imprimante 3D</h1>
        <h2>Lycée Condorcet - Montreuil</h2>
    </header>
    <div id="main" role="main">
        <ol>
            <li>
                Vérifier que les vignettes ci-dessous correspondent bien aux diapositives à projeter. Elle doivent être déposées dans le dossier <strong>slices</strong> avec un classement
                alphabétique.
            </li>
            <li>
                Prendre les références de l'axe z.
            </li>
            <li>
                Vérifier la quantité de résine.
            </li>
            <li>
                Préparer le kit de nettoyage à température ambiante.
            </li>
            <li>Modifier si nécessaire les valeurs d'impression ci-dessous.</li>
        </ol>
        <form id="formArduino" name="formArduino" method="post">
            <ul>
                <li>
                    <label for="epCouches">Épaisseur des couches:</label>
                    <input name="epCouches" type="text" id="epCouches" value="10" size="4" maxlength="4">
                    x 1/100 mm
                </li>
                <li>
                    <label for="nbExpCouche">Nombre d'expositions par couche:</label>
                    <input name="nbExpCouche" type="text" id="nbExpCouche" value="3" size="3" maxlength="3">
                </li>
                <li>
                    <label for="intervalleEntreExp">Intervalle entre chaque exposition:</label>
                    <input name="intervalleEntreExp" type="text" id="intervalleEntreExp" value="1" size="3" maxlength="3">
                    s</li>
                <li>
                    <label for="profPlongee">Profondeur de plongée avant la couche suivante:</label>
                    <input name="profPlongee" type="text" id="profPlongee" value="5" size="3" maxlength="3">
                    mm</li>
                <li>
                    <label for="tempsArretAvantRemontee">Temps d'arrêt avant remontée vers la couche suivante:</label>
                    <input name="tempsArretAvantRemontee" type="text" id="tempsArretAvantRemontee" value="100" size="3" maxlength="3">
                    ms</li>
                <li>
                    <label for="tempsPauseAvantExpo">Temps de pause entre la remontée et la première exposition:</label>
                    <input name="tempsPauseAvantExpo" type="text" id="tempsPauseAvantExpo" value="100" size="3" maxlength="3">
                    ms</li></ul>
            <p>
                <input type="button" name="submit" id="submit" value="Mettre à jour l'Arduino">
            </p>
        </form>
        <ol start="6">
            <li>Cliquer sur le bouton ci-dessous une première fois pour afficher la mise au point puis appuyer sur Entrée pour lancer
                l'impression. </li>
        </ol>
    </div>
    <footer>
        <p>
            <input type="button" value="Afficher la mire" id="boutonMire"/>
        </p>
        <p>
            <%= thumbFichiers.length %> diapositives préchargées
        </p>
    </footer>
</div>
<div id="images">
    <!-- Oouverture de toutes les vignettes -->
    <img src="/images/mire_mise_au_point.png" id="mire"/>
    <% if (thumbFichiers.length) { %>
    <% thumbFichiers.forEach(function(thumbFichier){ %>
    <img src="/thumb-slices/<%= thumbFichier %>" height="40" width="40" class="thumb"/>
    <% }) %>
    <% } %>
    <img id="diapoActive"/>
</div>
<!--! end of #container -->

<!-- JavaScript at the bottom for fast page loading -->

<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script>
    window.jQuery || document.write('<script src="third_party/jquery-2.1.0.min.js"><\/script>')
</script>

<script>

    $(document).ready(function () {
        var tempoVisible = 3000;
        var tempoCache = 1000;
        var cycleDemarre = false;
        var imageActive = $("#diapoActive");
        var i = 0;
        var nbDiapos = <%=diaposFichiers.length%>;
        $("#submit").click(function () {// si appui sur le bouton arduino
            $.get('/config/' + $("#epCouches").val().toString(16) +
                    '/' + $("#nbExpCouche").val().toString(16) +
                    '/' + $("#intervalleEntreExp").val().toString(16) +
                    '/' + $("#profPlongee").val().toString(16) +
                    '/' + $("#tempsArretAvantRemontee").val().toString(16) +
                    '/' + $("#tempsPauseAvantExpo").val().toString(16) , function(textReponse){
                console.log("- envoi de la configuration à l'Arduino : " + textReponse);
            });
        });
        // déclaration de la mire comme image active (elle doit être la première image dans le HTML)
        $("#boutonMire").click(function () {// si appui sur le bouton
            $('body').mouseover(function () {// il est important de chacher le curseur pour qu'il ne polymérise pas la résine...
                $(this).css({
                    cursor: 'none'
                });
            }).css("background-color", "black").css("color", "red");
            // arrière-plan rouge avant basculement du miroir et mise au point
            $("#instructions").fadeOut(0, function () {// disparition des consignes
                $('img[class="thumb"]').remove();
                // on libère la mémoire de toutes les vignettes
                $('#mire').fadeIn(2000, function () {// apparition de la mire
                    $("body").keypress(function (e) {
                        if (e.which == 13) {// si appui sur ENTER
                            cycleDemarre = true;
                            $('#mire').fadeOut(2000, function impression() {// fonction récursive qui épuise toutes les images disponibles
                                function etatDiapo(){
                                    // Affichage de la pastille verte à chaque diapo
                                    $.get('etat', function(textReponse){
                                        console.log("- appel serveur pour état de la diapo : " + textReponse);
                                    });
                                }
                                if (cycleDemarre && i < nbDiapos) {
                                    $.get('/diapo/' + i++, function (diapoActive) {
                                        console.log("> diapositive active n°" + i + "/" + nbDiapos + " : " + diapoActive);
                                        imageActive.attr({
                                            src: '/slices/' + diapoActive
                                        }).delay(tempoCache).fadeIn(0,etatDiapo).delay(tempoVisible).fadeOut(0).delay(tempoCache).fadeIn(0,etatDiapo).delay(tempoVisible).fadeOut(0).delay(tempoCache).fadeIn(0,etatDiapo).delay(tempoVisible).fadeOut(0, impression);
                                    });
                                }
                                else if (i == nbDiapos){ // Appel de la fin d'impression
                                    $.get('/fin', function (textReponse) {
                                        $("#diapoActive").replaceWith('<h1>' + textReponse + '</h1>');
                                    });
                                }
                            });
                        }
                    });
                });
            });
        });
    });
</script>
<!-- end third_party-->

</body>
</html>