body {
  margin:0px;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* overflow:hidden;*/
}

a {
  color: #00B7FF;
}

#mire {
    display: block;
    margin: -50px;
    display: none;
}


#diapoActive {
    display: none;
    /* Calcul : (1280 - L)/2 */
    margin-left:440px ;
    /* Calcul : (720 - H)/2 mais il vaut mieux recentrer vers le haut*/
    margin-top:0px;
}