body {
  margin:0px;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#mire {
    paddin: -50px;
    display: none;
}


#diapoActive {
    display: none;
}